/* NewProductForm.css */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.new-product-form {
    background-color: #1f2937;
    color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 100%;
    max-width: 24rem;
  }
  
  .form-input {
    background-color: #1f2937;
    border-color: #374151;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 0.375rem;
    width: 100%;
  }
  
  .form-label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  .form-button {
    background-color: #3b82f6;
    color: #ffffff;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    width: 100%;
  }
  
  .form-button:hover {
    background-color: #2563eb;
  }